body {
	background-color: darkgreen;
	color:red;
	border: 3px lightgreen dashed;
}
.gifts {
	height: 175px;
	width: 175px;
}
nav {
	color:limegreen;
	position: fixed;
	left: 75%;
	z-index: 9999;
}
a:hover {
	color: #fff;
}
.holly {
	position: relative;
	left: 30%;
}
article h2 {
	position: relative;
	left: 60%;
}
p {
	position: static;
	padding: 0% 15%;
}
header{
	position: relative;
	margin: -15px;
	top: -25px;
}
footer {
	position: absolute;
	left: 39%;
}
.ivy {
	height: 150px;
	width: 100%;

}